@font-face {
  font-family: 'Playfair Display';
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2')
    format('woff2');
}

@font-face {
  font-family: Raleway;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Raleway-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: Raleway;
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Raleway-Italic-VariableFont_wght.woff2') format('woff2');
}
